<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <!-- 页面的配置 -->
    <page>
        <!-- 页面标题 -->
        <title>名通科技</title>

        <!-- 页面的版本号（空字符串表示随机生成） -->
        <version>20201202165209</version>

        <!-- 登录页是否有验证码 -->
        <checkcode>false</checkcode>

        <!-- 登录页面验证码强度 -->
        <checkcode-strength>0</checkcode-strength>

        <!-- 数据库权限的账号 -->
        <db-auth-users>admin,test</db-auth-users>

        <!-- 可执行强制用户退出账号 -->
        <force-offline-owner>admin</force-offline-owner>

		<!--4A是否禁用登录界面-->
		<FourAShieldLog>false</FourAShieldLog>

		<!--4A登录界面重定向-->
		<FourAShieldLogAdd>http://192.168.3.153:8699/mtex/login</FourAShieldLogAdd>

        <!-- 是否存在单点登录的sysId，枚举（0：不存在，其它：存在） -->
        <sso-sysid>4</sso-sysid>

        <!-- 系统标识（目前主要用于菜单） -->
        <app-sysid>0</app-sysid>

        <!-- 需要链接网络的资源 -->
        <online>
            <!-- QQ地图（街景） -->
            <qqmap>false</qqmap>

            <!-- 高德地图 -->
            <amap>false</amap>
        </online>

        <!-- 加载模块资源的来源，枚举（false：不加载，true：加载） -->
        <module>
            <login>
                <!-- ##################################################################### -->
                <!-- 注：第二版，框架文件以Login结尾，只能有一个为true，若需要重写登录界面，请在此添加 -->

                <!-- 例子：是否加载登录页面：v2云框架 -->
                <!-- <cdaLogin>true</cdaLogin> -->

                <!-- ##################################################################### -->
                <!-- 注：第二版，框架文件以 Login 结尾，只能有一个为true。只有平台组人员才能添加新项 -->

                <!-- 是否加载登录页面：v2云框架 -->
                <vue2xLoginCloud>true</vue2xLoginCloud>

            </login>
            <index>
                <!-- ##################################################################### -->
                <!-- 注：基础文件以base开头。只有平台组人员才能添加新项  -->

                <!-- 是否加载基础模块：bootstrap ui 和 jquery-ui，只有一个项目用到，基本上此项都为false -->
                <baseOtherUI>false</baseOtherUI>

                <!-- 是否加载基础模块：查询条件配置 -->
                <baseSearch>true</baseSearch>


                <!-- ##################################################################### -->
                <!-- 注：应用模块以Plugin结尾  -->

                <!-- 是否加载基础模块：框架和系统应用（简称sys） -->
                <sysPlugin>true</sysPlugin>

                <!-- 是否加载应用模块：账号管理、工单、流程（简称nop） -->
                <nopPlugin>false</nopPlugin>

                <rnopPlugin>false</rnopPlugin>

                <reportPlugin>false</reportPlugin>

                <!-- ##################################################################### -->
                <!-- 注：第二版，框架文件以 vue2xIndex 开头，只能有一个为true。只有平台组人员才能添加新项 -->

                <!-- 是否加载框架文件：云框架 -->
                <vue2xIndexCloud>true</vue2xIndexCloud>
            </index>
        </module>
    </page>

    <deptConfig>
		<!-- 部门配置 -->
	</deptConfig>

    <appConfig>
        <!-- 当前地市名称 -->
        <CityName>beijing_xn</CityName>

        <!-- 是否加载Mtnoh框架，枚举（0：不加载，2：打开Mtnoh应用时加载） -->
        <SWF_APP_OPEN>0</SWF_APP_OPEN>

        <!-- 是否加载Mtnx框架，枚举（0：不加载，1：加载） -->
        <MTNX_APP_OPEN>0</MTNX_APP_OPEN>

        <!-- 指定mtnoh同步修改密码的URL，默认值为http://[请求来源IP]:[请求来源端口]/mtnoh/AppInterface/ChangePassword.aspx -->
        <SWF_PWD_URL></SWF_PWD_URL>

        <!-- 指定mtnx同步修改密码的URL，默认值为http://[请求来源IP]:[请求来源端口]/mtnx/session/ChangePasswordByMtex -->
        <MTNX_PWD_URL></MTNX_PWD_URL>

        <!-- 主界面是否开启地市 -->
        <District>false</District>
        <!-- 主界面是否允许选择省份 -->
        <ProvinceSelection>false</ProvinceSelection>

        <!-- 登录面板模式，枚举（1：默认打开账号登录，2、默认打开手机号登录。默认值为2）（注：只有开启手机验证码的时候，此配置才生效） -->
        <AssignLoginWay>2</AssignLoginWay>

        <!-- 是否屏蔽登录模式按钮。（注：只有开启手机验证码的时候，才会在登录界面显示登录模式按钮）-->
        <ShieldLoginType>false</ShieldLoginType>

        <!-- 是否屏蔽注册按钮。（注：只有开启手机验证码的时候，才会在登录界面显示注册按钮）-->
        <ShieldSignup>false</ShieldSignup>

        <!-- 是否屏蔽找回密码按钮。（注：只有开启手机验证码的时候，才会在登录界面显示找回密码按钮）-->
        <ShieldFindPwd>false</ShieldFindPwd>

        <!--<TASK_EXPORT_COUNT_MAX>50</TASK_EXPORT_COUNT_MAX>-->

        <!-- 是否记录上一次打开的地市 -->
        <DistrictRecord>true</DistrictRecord>

        <!-- 主界面，是否显示修改个人信息 -->
        <ChangeInfoLock>false</ChangeInfoLock>

        <!-- 主界面，是否显示离线任务 -->
        <AppOfflineExport>false</AppOfflineExport>
        <!-- 主界面，是否显示离线任务可导出工单数 -->
        <OfflineMissionExportFileNum>false</OfflineMissionExportFileNum>

        <!-- 主界面，是否显示在线文档 -->
        <AppHelpDoc>false</AppHelpDoc>

        <!-- 主界面，3D地图的服务，如http://192.168.1.50/mtnoh/（如果为空字符串，则为当前路径） -->
        <ThreeDGisDomainPath></ThreeDGisDomainPath>

		<!-- 请求参数与返回内容是否加密-->
		<IsEncode>false</IsEncode>

		<!-- 同一个账号是否只能一个地方登录-->
		<IsAloneLogin>false</IsAloneLogin>

		<!-- 是否显示在线用户列表-->
		<ShowOnlineUsers>false</ShowOnlineUsers>

		<!-- 是否使用websocket，默认为true-->
		<UserWebSocket>true</UserWebSocket>

		<!-- 是否显示在线用户数，默认为true-->
		<ShowOnlineCount>true</ShowOnlineCount>

		<!--是否开启网优东莞登录 -->
		<useSSOLogin>false</useSSOLogin>

		<!-- 表格导出模式（0：禁止导出；1：完整导出；2：分段导出）默认值是1，推荐用2 -->
		<GridExportMode>2</GridExportMode>

		<!-- 是否开启北京金库认证 -->
		<BeijingTreasuryCertification>false</BeijingTreasuryCertification>

		<!-- 是否开启皮肤功能 -->
		<FrameSkin>false</FrameSkin>

		<!-- 是否开启告警功能 -->
		<FrameAlarm>false</FrameAlarm>

		<!-- 是否添加根目录级别可选值 0、1、2 ，默认值为1（一般不填） -->
		<ROOT_PATH_LEVEL></ROOT_PATH_LEVEL>

		<!-- 单点登录黑名单，使用","分割 -->
		<SSO_DENY></SSO_DENY>

		<!-- 是否添加iframe引入mtnx项目的别名（一般不填） -->
		<MTNX_APP_NAME></MTNX_APP_NAME>

		<!-- 是否添加iframe引入mtnoh项目的别名（一般不填） -->
		<SWF_APP_NAME></SWF_APP_NAME>

		<!-- 是否开启IE的兼容模式，主要是给广州项目使用，兼容远程桌面的IE9。枚举（true：广东代维项目，2：广州网调项目） -->
		<IE_LOWER_FRAME>false</IE_LOWER_FRAME>

		<!-- 登录与未登录之间切换时，是否开启记录与重现打开的菜单 -->
		<FRAME_URL_NO_RECORD_MENU>false</FRAME_URL_NO_RECORD_MENU>

		<!-- 远程连接失败，重新访问次数 -->
		<RemoteTimes>0</RemoteTimes>
		<!-- 远程连接失败，重新连接间隔时间（单位：秒） -->
		<RemoteSpace>5</RemoteSpace>

		<!-- 是否开启用户自定义菜单（会触发应用鉴权，目前只有甘肃使用） -->
		<User_Define_Menu>false</User_Define_Menu>

		<!-- 旧版框架的入口，不填则不显示入口，可填写例如“旧版首页”，主界面右上角会显示“旧版首页”按钮（同时Top_OldFrame_Link也是必填） -->
		<Top_OldFrame_Name></Top_OldFrame_Name>

		<!-- 旧版框架的单点登录地市，参数为 sid 和 sys -->
		<Top_OldFrame_Link>http://192.168.3.194:8699/mtnx/session/sso</Top_OldFrame_Link>

		<!-- 是否开启意见反馈功能（广州状态库专用） -->
		<Top_App_Sugg>false</Top_App_Sugg>

		<!-- 菜单打开类型，枚举（0：点击打开，1：鼠标经过打开）默认值：0 -->
		<MENU_OPEN_TYEP>0</MENU_OPEN_TYEP>

		<!-- 是否开启框架水印 -->
		<FRAME_WATERMARK_OPEN>false</FRAME_WATERMARK_OPEN>
		<!-- 框架水印的颜色 -->
		<FRAME_WATERMARK_COLOR>#cccccc</FRAME_WATERMARK_COLOR>
		<!-- 框架水印的透明度（范围在0~1） -->
		<FRAME_WATERMARK_OPACITY>0.6</FRAME_WATERMARK_OPACITY>

		<!-- 平安校园项目 -->
		<SCSE_SCHOOL>false</SCSE_SCHOOL>

		<!-- 框架的最小宽度（填写数字，比如 1000），不填则采用默认值 -->
		<FRAME_MIN_WIDTH></FRAME_MIN_WIDTH>
    </appConfig>

</configuration>
